* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #000;
}

.main {
  width: 100%;
  min-height: 100vh;
  background: 
    linear-gradient(to top, rgba(0, 0, 30, 0.8) 40%, rgba(0, 0, 60, 0.6) 100%),
    url('https://images.unsplash.com/photo-1563013544-824ae1b704d3?auto=format&fit=crop&w=1600&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.navbar {
  width: 90%;
  max-width: 1200px;
  height: 75px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon .logo {
  color: blue;
  font-size: 32px;
  font-weight: bold;
}

.menu ul {
  display: flex;
  gap: 30px;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.menu ul li a:hover,
.menu ul li a.active {
  color: blue;
}

.search {
  display: flex;
  align-items: center;
}

.srch {
  width: 180px;
  height: 35px;
  background: transparent;
  border: 1px solid #fff;
  color: white;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
}

.btn {
  background: blue;
  color: white;
  border: none;
  height: 35px;
  width: 80px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

